
{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'mainapp/about.css' %}">
{% endblock %}
{% block content %}
<link rel="stylesheet" href="mainapp/about.css">
<div class="sim">
<h1 style="color:white;">ABOUT</h1></div>
<div class="head">
<h3 style="color:white;" >Mission</h3></div>
<div class="par">
<p style="color:white;">"To empower government organizations and their stakeholders with seamless and accurate language translation services.
    Our mission is to bridge linguistic barriers and facilitate efficient communication by providing an official English to Hindi
    translation tool that ensures accessibility, inclusivity, and precision."</p></div>
<div class="header">
<h4 style="color:white;">Vision</h4>
    </div>
<div class="para">
<p1 style="color:white;">"Our vision is to become the trusted and indispensable language translation solution for all government websites in India.
    We aim to be the driving force behind inclusive and multilingual digital communication, fostering a connected and informed society. By offering
    a user-friendly, secure, and constantly evolving platform, we aspire to support the government's commitment to serving all citizens in their
    preferred language, further enhancing transparency, accessibility, and the overall citizen experience."</p1></div>
<!--mission -->

{% endblock %}